body {
  background-color: white;
}

.btn {
  cursor: pointer;
}
body {
  color: peru;
}

.clicked {
  color: #7f8c8d;
}

.form, .greetings {
  display: none;
}

.showing {
  display: block;
}